.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    margin-top: 150px;
}

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #6ec1eb;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .form {
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: rgb(255, 179, 179);
    padding: 100px;
    margin-top: 50px;
  }
  
  .form .form__custom-button {
    margin-top: 50px;
  }
  