.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}
.logInButton {
    width: 300px;
    height: 40px;
    margin: 20px;
    font-size: 16px;
    background-color: #3e69f5;
    color: white;
    border-radius: 10px;
    border-color: #274FD5;  
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;    
}

.logInButton:hover {
    width: 300px;
    height: 40px;
    margin: 20px;
    font-size: 16px;
    background-color: #002bb9;
    color: white;
    border-radius: 10px;
    border-color: #274FD5;   
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;    
}

.signUpButton {
    width: 300px;
    height: 40px;
    margin: 10px;
    font-size: 16px;
    background-color: white;
    border-radius: 10px;
    border-color: #274FD5
}

.signUpButton:hover {
    width: 300px;
    height: 40px;
    margin: 10px;
    font-size: 16px;
    background-color: #d9d9d9;
    border-radius: 10px;
    border-color: #000000;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.pic {
    width: 300px;
    height: 200px;
}

img {
    display: block;
    max-width: 200%;
}

