.setting-topper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 0px 30px;
}
.button-top {
    padding: 0px 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.container {
    background-color: #d9d9d9;
    padding: 5px;
}
.user-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
.password-change-button {
    color: blue;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}
.password-change-tab {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.top-space {
    margin-top: 20px;
}
.right-space {
    margin-right: 20px;
}

.seperator {
    padding: 10px;
    font-weight: 600;
}

.api-list {
    background-color: white;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.api-exchange {
    width: 150px;
}
.api-key {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.api-each-key {
    flex: 1;
}
.api-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 150px;
}

.warning-text {
    color: red;
}

@font-face {
    font-family: 'password';
    font-style: normal;
    font-weight: 400;
    src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
  }
  .hide-password {
    font-family: 'password';
    width: 100px;
    height: 16px;
    margin-right: 20px;
  }