.signup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    padding: 20px 0;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.input-form {
    width: 300px;
    height: 25px;
    background-color: #D9D9D9;
    border-radius: 10px;
}
.button {
    width: 300px;
    height: 40px;
    margin: 50px;
    font-size: 16px;
    background-color: #3e69f5;
    color: white;
    border-radius: 10px;
    border-color: #274FD5;  
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    width: 300px;
    height: 40px;
    margin: 50px;
    font-size: 16px;
    background-color:  #001d7b;
    color: white;
    border-radius: 10px;
    border-color: #274FD5;  
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
  